*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root,
html,
body {
	height: 100%;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: white;
	height: 2.5em;
	font-size: 1.2em;
}

.main {
	background-color: #ccc;
	display: flex;
	justify-content: center;
}

.container {
	width: 800px;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-control p {
	font-size: 1.4em;
	color: #333;
	font-weight: 800;
}

.form-control input {
	width: 100%;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 0.5em;
	font-size: 0.9em;
}

.previewBtn {
	padding: 5px;
	font-size: 1em;
	font-weight: 500;
}

.previewBtn:hover {
	background-color: #ccc;
}
